    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: #3b4658;
        height: 100%;
        margin: 0;
    }
    
    .navbar {
        max-height: 300px;
        min-height: 50px;
    }
    
    .navbar-nav.nav-justified> li {
        float: none;
    }
    
    .nav {
        text-align: center;
    }
    
    .container {
        margin: auto;
        vertical-align: middle;
        padding: 5px 0 0 0;
        list-style-type: none;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        position: relative;
    }
    
    .dividerEmail {
        position: absolute;
        right: -80px;
    }
    .divider1 {
        position: absolute;
        right: -90px;
    }

     .divider2 {
        position: absolute;
        right: -100px;
    }
  
  .Small {
      margin-top: 150px !important;
      width: 180px;
      height: 150px;
  }

 
   a .Large {
        display: none;
         }

   .no-touch a:hover
  .Small {
        display: none; margin-top: 150px;
         }
   .no-touch a:hover
  .Large {
        display: block;
         }

    #menu> li:nth-child(1)> span:nth-child(1) {
        position: relative;
        left: 78px;
    }
    
    

    
    

    #menu a:link,
    #menu a:visited {
        display: block;
        width: 230px;
        text-align: center;
        padding: 4px;
        text-decoration: none;
        text-transform: lowercase;
    }
    
    .navbar-default .navbar-nav> li> a:hover,
    .navbar-default .navbar-nav> li> a:focus {
        color: #3b4658;
    }
    
    #xsmenu> li:nth-child(2)> a:nth-child(2)> span:nth-child(1) {
        font-family: 'Open Sans', sans-serif;
    }
    
    #menu> li:nth-child(1)> span:nth-child(1) {
        font-family: 'Open Sans', sans-serif;
    }
    
    .navbar-header button.navbar-toggle,
    .navbar-header .icon-bar .collapsed {
        border: 1px solid #3b4658;
    }
    
    .navbar-default button.navbar-toggle.collapsed:focus,
    .navbar-default button.navbar-toggle.collapsed {
        background-color: transparent;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    
    .navbar-default button.navbar-toggle:focus,
    .navbar-default button.navbar-toggle.collapsed:hover {
        background-color: #ddd;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
    }
    
    .navbar-default .dropdown-menu {
        background-color: lightgrey;
        color: white;
        padding: 5px;
    }
    
    #menu> li:nth-child(3)> a:nth-child(1) {
        width: 260px !important;
    }
    
    .logo {
        padding: 100px;
    }
    
    .col-md-4 {
        padding: 20px;
    }
    
    
    
    #xsmenu> li:nth-child(1)> a:nth-child(1)> span:nth-child(1) {
        font-family: 'Open Sans', sans-serif;
    }
    
    @media (max-width: 991px) {
        .navbar-header {
            float: none;
        }
        .navbar-left,
        .navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in {
            display: block !important;
        }

        
    }
    
    @media (min-width: 991px) and (max-width: 1200px) {
        .divider1 {
        position: absolute;
        right: -70px;
        }
        
        .divider2 {
        position: absolute;
        right: -60px;
        }
        
        #kolaps {
            height: auto;
        }
        #menu > li:nth-child(1) > span:nth-child(1) {
            display: none;
        }
    }
    
    .navbar-collapse> .li {
        text-align: center;
    }
    
    #kolaps {
        height: auto;
    }
    
    @media (max-height: 800px) {
        .logo {
            padding: 50px;
        }
    }
    
    @media (min-width: 992px) {
        .svg {
            background: url('../images/logo_SVG_PC.svg');
            background-repeat: no-repeat;
            background-size: 90%;
            background-position: center;
            width: 40%;
            margin: 0 auto;
            height: 219px;
                   }
            .nav > li {
        right: 85px;
    }
    .Small {
      margin-top: 150px;
    }

    
    }
    
    @media (max-width: 991px) {
         .svg {
            background: url('../images/logo-mobil-31.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            width: 90%;
            margin: 0 auto;
            height: 200px;
            bottom: 60px;
        }
        
    
}

.Small {
      margin-top: 0px !important;
}

    

  br {
   display: block;
   margin: 50px 0;
}

img {
    width: 90%;
            margin: 0 auto;
            height: 300px;
            bottom: 60px;
}


@media (max-width: 380px) {
         .svg {
            height: 140px;
            
        }
        .container {
        top: -30px;
    }
}


#logo {
	bottom: 60px;
}

